{% extends 'front.html.twig' %}

{% block content %}




    <section class="blog-post blog-new-wrapper padding-section">
        <div class="container">
            <div class="blog-post-list">
                <div class="row">
                    {% for utulisateur in users %}
                        {% if utulisateur.role == "ROLE_PAYSAGISTE"%}
                            <div class="col-12 col-md-6 col-lg-4">
                                <!-- post -->
                                <div class="blog-post-item blog-post-item-pdb">
                                    <div class="blog-post-item-panel">
                                        <div class="blog-thum">
                                            <a href="">
                                                <img src="{{ asset('uploads/Users/'~utulisateur.image) }}" alt="Blog">
                                            </a>
                                        </div>
                                        <div class="blog-info">
                                            <div class="blog-meta">
                                            </div>
                                            <h2 class="blog-title">
                                                <a href="{{ path('Travail_affiche',{id:utulisateur.id})}}" class="blog-title-link">{{utulisateur.nom}}</a>
                                            </h2>
                                            <h2 class="blog-title">
                                                <a href="{{ path('reserver_jardinier',{id:utulisateur.id})}}" class="blog-title-link">Reserver</a>
                                            </h2>
                                            <div class="blog-content">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- end post -->
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>



{% endblock %}