{% extends 'back.html.twig' %}

{%block content %}

    {% if global == 1 %}
        <li class="list-group-item-success">
            personne bien ajouter
        </li>
        </ul>
    {% endif %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     {{ form(form) }}
    <ul class="list-group">

{% endblock %}